<script src="~/Scripts/SpryValidationTextField.js" type="text/javascript"></script>
<link href="~/Content/SpryValidationTextField.css" rel="stylesheet" type="text/css" />
<span class="text-danger field-validation-valid textfieldRequiredMsg">A value is required.</span>
<span class="text-danger field-validation-valid textfieldInvalidFormatMsg">Invalid format.</span>
<span class="text-danger field-validation-valid textfieldMinValueMsg">The entered value is less than the minimum required.</span>
<span class="text-danger field-validation-valid textfieldMaxValueMsg">The entered value is greater than the maximum allowed.</span>
<script type="text/javascript">
    var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1", "date", {
        validateOn: ["blur", "change"], format: "yyyy-mm-dd", minValue: "@DateTime.Today.ToString("yyyy-MM-dd")", maxValue: "2015-12-30"
    });
</script>