@model IEnumerable<SDP_MVC5.Models.Reminder>

@{
    ViewBag.Title = "My Reminder";
}


<h2>My Reminder</h2>

<p class="none">
    @Html.ActionLink("Create New", "Create")
</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        @Html.ActionLink("[" + item.remindertime.ToString().Substring(0, 10) + "] " + item.workshopName, "Details",
    new { id = item.ID },
    new { @class = "list-group-item" })
    }
</div>

@Html.ActionLink("Back to My Booking", "Newsession", "Home", new { }, new { @class = "btn btn-default btn-block" })
