@{
    ViewBag.Title = "Code_Test";
}

<h2>Code_Test</h2>

<script src="~/assets/syntaxhighlighter/scripts/shCore.js"></script>
<script src="~/assets/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script src="~/assets/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
<script src="~/assets/syntaxhighlighter/scripts/shBrushPlain.js"></script>
<script src="~/assets/syntaxhighlighter/scripts/shBrushXml.js"></script>
<link href="~/assets/syntaxhighlighter/styles/shCoreDefault.css" rel="stylesheet" />
<script type="text/javascript">SyntaxHighlighter.all();</script>

<h1 id="Knockout">Knockout View</h1>
<pre class="brush: html">
    <table class="table table-bordered mtl none" id="table">
    <thead>
    <tr>
    <th>ID</th>
    <th>Campus</th>
    <th>Archived</th>
		</tr>
	</thead>
    <tbody data-bind="foreach: ko_array_url">
    <tr>
    <td data-bind="text: id"></td>
    <td data-bind="text: campus"></td>
    <td data-bind="text: archived"></td>
		</tr>
	</tbody>
</table>

</table>

</pre>
<h1>Knockout Js</h1>
<pre class="brush: javascript;">
    $(document).ready(function () {
        $.ajax({
            type: "Get",
            beforeSend: function (request) {
                request.setRequestHeader("AppKey", "123456");
            },
            contentType: "application/json",
            url: "http://localhost:8080/WebDeploy/api/misc/campus/1",
            dataType: 'json',
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            success: function (result) {
                var arrCate = [];
                ko.applyBindings({
                    ko_array_url: result.Results
                });
                $("#table").fadeIn();
            }
        });
});

</pre>
