@{
    ViewBag.Title = "Help";
}
<h2>FAQ</h2>
<div class="scrollable-content section">
    <h3>About the HELPS programs</h3>
    <p><strong> <a name="Who_can_use_HELPS_">Who can use HELPS?</a></strong></p>
    <p> &raquo; Any student enrolled in any faculty at UTS, and all members of UTS staff</p>
    <p><strong> <a name="Where_is_HELPS_">Where is HELPS?</a></strong></p>
    <p> &raquo; HELPS is located on Building 1, Level 3 , room 8 (opposite the Careers service)</p>
    <p><strong> <a name="How_much_does_it_cost_">How much does it cost?</a></strong></p>
    <p> &raquo; Services are free of tuition fees for non-credit workshops and individual consultations.</p>
    <p><strong> <a name="Can_you_help_me_with_my_assignment_">Can you help me with my assignment?</a></strong></p>
    <p> &raquo; Yes. HELPS offers various workshops and individual consultations. For more information, check out our <a href="http://www.ssu.uts.edu.au/helps/index.html">website</a>.</p>
    <p><strong> <a name="Can_you_proofread_and_correct_my_assignment_">Can you proofread and correct my assignment?</a></strong></p>
    <p> &raquo; No. Our role is not to correct grammar or other errors in an assignment. We can help you develop your own editing strategies. You should also use a computer spell-check, find a competent friend and a good dictionary.</p>
    <p><strong> <a name="Can_you_help_me_with_the_content_of_my_assignment_">Can you help me with the content of my assignment?</a></strong></p>
    <p> &raquo; No. We can&rsquo;t tell you what to say, we can only help you say it better and more clearly. While we&rsquo;re happy to act as a sounding board for your ideas, content questions require the specialised disciplinary knowledge of lecturers and tutors in your faculty. You should take specific content questions directly to them.</p>
    <p><strong> <a name="My_lecturer_says_I_need_to_improve_my_grammar._Can_you_help_me_">My lecturer says I need to improve my grammar. Can you help me?</a></strong></p>
    <p> &raquo; Yes. Please check out our <a href="http://www.ssu.uts.edu.au/helps/index.html">website</a> or <a href="http://www.ssu.uts.edu.au/helps/resources/">Learning resources</a>.</p>
    <p><strong> <a name="Can_you_help_me_with_my_pronunciation_">Can you help me with my pronunciation?</a></strong></p>
    <p> &raquo; Yes. Please check <a href="http://www.ssu.uts.edu.au/helps/index.html">website</a> or <a href="http://www.ssu.uts.edu.au/helps/resources/">Learning resources</a>.</p>
    <p><strong> <a name="Can_I_practise_my_seminar_presentation_with_someone_">Can I practise my seminar presentation with someone?</a></strong></p>
    <p> &raquo; Yes. You can attend our workshops or drop in for an individual consultation session.</p>
    <p></p>
    <h3>About the Special Conditions in Exams</h3>
    <p><strong> <a name="I_am_not_a_native_English_speaker_and_I_feel_that_I_need_more_time_in_exams._Can_you_help_">I am not a native English speaker and I feel that I need more time in exams. Can you help?</a></strong></p>
    <p> &raquo; Maybe. You might be eligible to apply for Special Conditions in Exams.</p>
    <p><strong> <a name="I_m_a_second_third_year_student._Can_I_get_Special_Conditions_in_my_exams_">I&#39;m a second/third year student. Can I get Special Conditions in my exams?</a></strong></p>
    <p> &raquo; No. Only first year (1st/2nd semester) students are eligible to apply.</p>
    <p><strong> <a name="What_is_the_deadline_to_apply_for_the_Special_Conditions_">What is the deadline to apply for the Special Conditions?</a></strong></p>
    <p> &raquo; The application closes on the Census date (for Autumn semester: 31 March 2015) . Click on<a href="http://www.ssu.uts.edu.au/helps/conditions/index.html"> Special Conditions in Exams</a> for more information.</p>
    <div class="alert alert-info" role="alert"> If you have a question which has not been answered above, please email us: HELPS@uts.edu.au</div>
</div>
