@{
    ViewBag.Title = "Json_SessionBookingSearch";
}

<h2>Json_SessionBookingSearch</h2>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Json/JsonSessionBookingSearch.js"></script>

<table class="table table-bordered mtl none" id="table">
    <thead>
        <tr>
            <th>LecturerFirstName</th>
            <th>LecturerLastName</th>
            <th>LecturerEmail</th>
            <th>SessionTypeAbb</th>
            <th>SessionType</th>
            <th>AssignmentType</th>
            <th>AppointmentType</th>
            <th>BookingId</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Campus</th>
            <th>Cancel</th>
            <th>Assistance</th>
            <th>Reason</th>
            <th>Attended</th>
            <th>WaitingID</th>
            <th>IsGroup</th>
            <th>NumPeople</th>
            <th>LecturerComment</th>
            <th>LearningIssues</th>
            <th>IsLocked</th>
            <th>AssignTypeOther</th>
            <th>Subject</th>
            <th>AppointmentsOther</th>
            <th>AssistanceText</th>
            <th>SessionId</th>
            <th>archived</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: ko_array_url">
        <tr>
            <td data-bind="text: LecturerFirstName"></td>
            <td data-bind="text: LecturerLastName"></td>
            <td data-bind="text: LecturerEmail"></td>
            <td data-bind="text: SessionTypeAbb"></td>
            <td data-bind="text: SessionType"></td>
            <td data-bind="text: AssignmentType"></td>
            <td data-bind="text: AppointmentType"></td>
            <td data-bind="text: BookingId"></td>
            <td data-bind="text: StartDate"></td>
            <td data-bind="text: EndDate"></td>
            <td data-bind="text: Campus"></td>
            <td data-bind="text: Cancel"></td>
            <td data-bind="text: Assistance"></td>
            <td data-bind="text: Reason"></td>
            <td data-bind="text: Attended"></td>
            <td data-bind="text: WaitingID"></td>
            <td data-bind="text: IsGroup"></td>
            <td data-bind="text: NumPeople"></td>
            <td data-bind="text: LecturerComment"></td>
            <td data-bind="text: LearningIssues"></td>
            <td data-bind="text: IsLocked"></td>
            <td data-bind="text: AssignTypeOther"></td>
            <td data-bind="text: Subject"></td>
            <td data-bind="text: AppointmentsOther"></td>
            <td data-bind="text: AssistanceText"></td>
            <td data-bind="text: SessionId"></td>
            <td data-bind="text: archived"></td>
        </tr>
    </tbody>
</table>

