@{
    ViewBag.Title = "JsonWorkshopBookingSearch";
}
<script>
        function api_ajaxBookhistory(getUrl, getAfter) {
            $.ajax({
                // Json_WorkshopWorkshopSets
                type: "Get",
                beforeSend: function (request) {
                    request.setRequestHeader("AppKey", "123456");
                    $(".f_loading").removeClass("none");
                },
                contentType: "application/json",
                url: JsonUrl + getUrl + getAfter,
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                },
                success: function (result) {
                    console.log(result);
                    var finalJson = [];
                        finalJson.push(result.Results[0]);
                        for (var i = 1, len = result.Results.length; i < len; i++) {
                            if (getUrl == "api/workshop/booking") {
                                if (result.Results[i].BookingId != result.Results[i - 1].BookingId && result.Results[i].BookingArchived != null) {
                                    finalJson.push(result.Results[i]);
                                }
                            }
                        }
                        console.log(finalJson);
                    ko.applyBindings({
                        ko_array: finalJson
                    });

                    $('ul.f_load li').not(function (i) {
                        return $(this).prevAll('li:has(a[data-workshopid="' + $('a', this).attr('data-workshopid') + '"])').length < 1;
                    }).remove();
                    $(".f_loading div").fadeOut(function () {
                        $(".f_load").fadeIn();
                    });
                }
            })
        }
</script>

<h2>JsonWorkshopBookingSearch</h2>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script>
    api_ajaxBookhistory("api/workshop/booking", "/search?StudentId=@User.Identity.Name.Substring(0,8)&PageSize=1000")
</script>

<table style="width:800px;" class="table table-bordered mtl" id="table">
    <thead>
        <tr>
            <th>BookingId</th>
            <th>workshopID</th>
            <th>studentID</th>
            <th>topic</th>
            @*<th>description</th>*@
            <th>targetingGroup</th>
            <th>campusID</th>
            @*<th>starting</th>
            <th>ending</th>*@
            @*<th>maximum</th>
            <th>cutoff</th>
            <th>canceled</th>
            <th>attended</th>
            <th>WorkShopSetID</th>
            <th>type</th>
            <th>reminder_num</th>
            <th>reminder_sent</th>*@
            <th>WorkshopArchived</th>
            <th>BookingArchived</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: ko_array">
        <tr>
            <td data-bind="text: BookingId"></td>
            <td data-bind="text: workshopID"></td>
            <td data-bind="text: studentID"></td>
            <td data-bind="text: topic"></td>
            @*<td data-bind="text: description"></td>*@
            <td data-bind="text: targetingGroup"></td>
            <td data-bind="text: campusID"></td>
            @*<td data-bind="text: starting"></td>
            <td data-bind="text: ending"></td>*@
            @*<td data-bind="text: maximum"></td>
            <td data-bind="text: cutoff"></td>
            <td data-bind="text: canceled"></td>
            <td data-bind="text: attended"></td>
            <td data-bind="text: WorkShopSetID"></td>
            <td data-bind="text: type"></td>
            <td data-bind="text: reminder_num"></td>
            <td data-bind="text: reminder_sent"></td>*@
            <td data-bind="text: WorkshopArchived"></td>
            <td data-bind="text: BookingArchived"></td>
        </tr>
    </tbody>
</table>

