@{
    ViewBag.Title = "JsonWorkshopBookingSearch";
}

<h2>JsonWorkshopBookingSearch</h2>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Json/JsonWorkshopBookingSearch.js"></script>

<table style="width:800px;" class="table table-bordered mtl none sizeFull" id="table">
    <thead>
        <tr>
            <th>BookingId</th>
            <th>workshopID</th>
            <th>studentID</th>
            <th>topic</th>
            @*<th>description</th>*@
            <th>targetingGroup</th>
            <th>campusID</th>
            @*<th>starting</th>
            <th>ending</th>*@
            @*<th>maximum</th>
            <th>cutoff</th>
            <th>canceled</th>
            <th>attended</th>
            <th>WorkShopSetID</th>
            <th>type</th>
            <th>reminder_num</th>
            <th>reminder_sent</th>*@
            <th>WorkshopArchived</th>
            <th>BookingArchived</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: ko_array_url">
        <tr>
            <td data-bind="text: BookingId"></td>
            <td data-bind="text: workshopID"></td>
            <td data-bind="text: studentID"></td>
            <td data-bind="text: topic"></td>
            @*<td data-bind="text: description"></td>*@
            <td data-bind="text: targetingGroup"></td>
            <td data-bind="text: campusID"></td>
            @*<td data-bind="text: starting"></td>
            <td data-bind="text: ending"></td>*@
            @*<td data-bind="text: maximum"></td>
            <td data-bind="text: cutoff"></td>
            <td data-bind="text: canceled"></td>
            <td data-bind="text: attended"></td>
            <td data-bind="text: WorkShopSetID"></td>
            <td data-bind="text: type"></td>
            <td data-bind="text: reminder_num"></td>
            <td data-bind="text: reminder_sent"></td>*@
            <td data-bind="text: WorkshopArchived"></td>
            <td data-bind="text: BookingArchived"></td>
        </tr>
    </tbody>
</table>
