@{
    ViewBag.Title = "Json_SessionType";
}

<h2>JsonSessionType</h2>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Json/JsonSessionType.js"></script>

<table class="table table-bordered mtl none" id="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>abbName</th>
            <th>fullName</th>
            <th>iscurrent</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: ko_array_url">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: abbName"></td>
            <td data-bind="text: fullName"></td>
            <td data-bind="text: iscurrent"></td>
        </tr>
    </tbody>
</table>
