@{
    ViewBag.Title = "Json_Student";
}

<h2>JsonStudent</h2>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Json/JsonStudent.js"></script>

<table class="table table-bordered mtl none" id="table">
    <thead>
        <tr>
            <th>studentID</th>
            <th>dob</th>
            <th>gender</th>
            <th>degree</th>
            <th>status</th>
            <th>first_language</th>
            <th>country_origin</th>
            <th>background</th>
            <th>HSC</th>
            <th>HSC_mark</th>
            <th>IELTS</th>
            <th>IELTS_mark</th>
            <th>TOEFL</th>
            <th>TOEFL_mark</th>
            <th>TAFE</th>
            <th>TAFE_mark</th>
            <th>CULT</th>
            <th>CULT_mark</th>
            <th>InsearchDEEP</th>
            <th>InsearchDEEP_mark</th>
            <th>InsearchDiploma</th>
            <th>InsearchDiploma_mark</th>
            <th>foundationcourse</th>
            <th>foundationcourse_mark</th>
            <th>created</th>
            <th>creatorID</th>
            <th>degree_details</th>
            <th>alternative_contact</th>
            <th>preferred_name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
    <td data-bind="text: studentID"></td>
    <td data-bind="text: dob"></td>
    <td data-bind="text: gender"></td>
    <td data-bind="text: degree"></td>
    <td data-bind="text: status"></td>
    <td data-bind="text: first_language"></td>
    <td data-bind="text: country_origin"></td>
    <td data-bind="text: background"></td>
    <td data-bind="text: HSC"></td>
    <td data-bind="text: HSC_mark"></td>
    <td data-bind="text: IELTS"></td>
    <td data-bind="text: IELTS_mark"></td>
    <td data-bind="text: TOEFL"></td>
    <td data-bind="text: TOEFL_mark"></td>
    <td data-bind="text: TAFE"></td>
    <td data-bind="text: TAFE_mark"></td>
    <td data-bind="text: CULT"></td>
    <td data-bind="text: CULT_mark"></td>
    <td data-bind="text: InsearchDEEP"></td>
    <td data-bind="text: InsearchDEEP_mark"></td>
    <td data-bind="text: InsearchDiploma"></td>
    <td data-bind="text: InsearchDiploma_mark"></td>
    <td data-bind="text: foundationcourse"></td>
    <td data-bind="text: foundationcourse_mark"></td>
    <td data-bind="text: created"></td>
    <td data-bind="text: creatorID"></td>
    <td data-bind="text: degree_details"></td>
    <td data-bind="text: alternative_contact"></td>
    <td data-bind="text: preferred_name"></td>
    </tr>
    </tbody>
</table>
