@{
ViewBag.Title = "Newsession";
}
<h2>Workshop sessions</h2>
<!-- // todo: studentid -->
<script>
    api_ajax("api/workshop/booking", "/search?StudentId=@User.Identity.Name.Substring(0,8)&active=true&PageSize=1000")
</script>
<div class="f_loading"></div>
<ul class="list-group f_load" id="" data-bind="foreach: ko_array">
    <li class="list-group-item">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#NewsessionModal"
           data-bind="text: workshopID+'. '+topic, attr: {
            'data-studentId': '@User.Identity.Name.Substring(0,8)',
            'data-BookingId': BookingId,
            'data-workshopID': workshopID,
            'data-studentID': studentID,
            'data-topic': topic,
            'data-description': description,
            'data-targetingGroup': targetingGroup,
            'data-campusID': campusID,
            'data-starting': starting,
            'data-ending': ending,
            'data-maximum': maximum,
            'data-cutoff': cutoff,
            'data-canceled': canceled,
            'data-attended': attended,
            'data-WorkShopSetID': WorkShopSetID,
            'data-type': type,
            'data-reminder_num': reminder_num,
            'data-reminder_sent': reminder_sent,
            'data-WorkshopArchived': WorkshopArchived,
            'data-BookingArchived': BookingArchived
        }"></a>
    </li>
</ul>
</div>
<div class="modal fade" id="NewsessionModal" tabindex="-1" role="dialog" aria-labelledby="NewsessionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modal-topic json-topic"></h4>
            </div>
            <div class="modal-body">
                <!-- //todo: if td = null then tr = none -->
                <table class="table table-bordered table-condensed table-striped text-capitalize">
                    <tr class="none"><th>BookingId:</th><td class="json-BookingId"></td></tr>
                    <tr class="none"><th>workshopID:</th><td class="json-workshopID"></td></tr>
                    <tr class="none"><th>studentID:</th><td class="json-studentID"></td></tr>
                    <tr class="none"><th>topic:</th><td class="json-topic"></td></tr>
                    <tr><th>description:</th><td class="json-description"></td></tr>
                    <tr><th>targetingGroup:</th><td class="json-targetingGroup"></td></tr>
                    <tr><th>campusID:</th><td class="json-campusID"></td></tr>
                    <tr><th>starting:</th><td class="json-starting"></td></tr>
                    <tr><th>ending:</th><td class="json-ending"></td></tr>
                    <tr><th>maximum:</th><td class="json-maximum"></td></tr>
                    <tr class="none"><th>cutoff:</th><td class="json-cutoff"></td></tr>
                    <tr class="none"><th>canceled:</th><td class="json-canceled"></td></tr>
                    <tr class="none"><th>attended:</th><td class="json-attended"></td></tr>
                    <tr class="none"><th>WorkShopSetID:</th><td class="json-WorkShopSetID"></td></tr>
                    <tr><th>type:</th><td class="json-type"></td></tr>
                    <tr class="none"><th>reminder_num:</th><td class="json-reminder_num"></td></tr>
                    <tr class="none"><th>reminder_sent:</th><td class="json-reminder_sent"></td></tr>
                    <tr class="none"><th>WorkshopArchived:</th><td class="json-WorkshopArchived"></td></tr>
                    <tr><th>BookingArchived:</th><td class="json-BookingArchived"></td></tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- //todo: alert booking success -->
                <!-- url: studentID, workshopID -->
                @Html.ActionLink("Reminder", "Create", "Reminders",
                new { },
                new { @class = "btn btn-info", id="f_reminderCreate"})
                @Html.ActionLink("Attendance", "Create", "Attendances",
                new { studentID = @User.Identity.Name.Substring(0, 8), workshopID = 87, bookingID = 3416, createdtime = DateTime.Now },
                new { @class = "btn btn-warning" })
                <a id="WorkshopBookingCancel" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>
<script>

    
</script>