@{
    ViewBag.Title = "Services Offered";
}
<h2>@ViewBag.Title</h2>
<div class="program" id="student_helps_programs">
    <h2> Drop-in consultations</h2>
    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> At the initial stage of your assignment writing or preparation process, you are strongly encouraged to come and see HELPS. The best time to see us is when you first receive your assignment.</p>
    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> <strong style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; color: rgb(0, 0, 0);">HELPS Advisors can help edit your assignment WITH you, not FOR you</strong>&nbsp;- helping you to edit for:</p>
    <ul style="margin: 0px 0px 15px 30px; padding-right: 0px; padding-left: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; list-style-position: outside; color: rgb(37, 43, 43);">
        <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;"> Structure and argument &ndash; that your writing is logically organised with well-developed and well-supported arguments.</li>
        <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;"> Style and expression &ndash; that your choice of vocabulary is appropriate, sentences are well constructed, ideas are clearly introduced, and paragraphs are fully developed.</li>
        <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;"> Grammar &ndash; that your issues are identified and explained so you can learn from your mistakes and avoid making them in the future.</li>
    </ul>
    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> Proofreading is the final step in the editing process, with the aim of producing an error-free assignment. It is&nbsp;<strong style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; color: rgb(0, 0, 0);">your</strong>&nbsp;responsibility to check for mistakes in spelling, punctuation, typing and formatting in your assignment before you submit it to your lecturer.</p>
    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> We offer 15-minute drop-in advice sessions and 40-minute one-to-one consultations by referral to help you with your assignment writing and preparation.</p>
    <h3> Drop-in consultations are held at:</h3>
    <ul>
        <li>
            <h4 style="margin: 14px 0px 0.714em; padding: 0px; border: 0px; font-family: 'DIN Bold'; font-size: 1.143em; font-weight: normal; font-stretch: inherit; line-height: 1em; vertical-align: baseline; -webkit-font-smoothing: antialiased; color: rgb(37, 43, 43);"> 2015 Spring semester (from week 2 to week 14)</h4>
            <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> <em style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; color: rgb(0, 0, 0);">Not offered on Public Holidays</em></p>
            <ul style="margin: 0px 0px 15px 30px; padding-right: 0px; padding-left: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; list-style-position: outside; color: rgb(37, 43, 43);">
                <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;">
                    HELPS office (CB01.03.08)
                    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline;"> Monday to Thursday: 12noon - 6pm / Friday: 12noon - 5pm</p>
                </li>
            </ul>
            <ul style="margin: 0px 0px 15px 30px; padding-right: 0px; padding-left: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; list-style-position: outside; color: rgb(37, 43, 43);">
                <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;">
                    UTS Blake Library (Research helpdesk)
                    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline;"> Tuesday to Thursday: 4pm - 7pm / Saturday: 1pm - 4pm</p>
                </li>
            </ul>
            <ul style="margin: 0px 0px 15px 30px; padding-right: 0px; padding-left: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; list-style-position: outside; color: rgb(37, 43, 43);">
                <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;">
                    Kuring Gai Library
                    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline;"> Tuesday and Thursday: 2pm - 5pm</p>
                </li>
            </ul>
            <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> At the drop-in advice session we can, if you need it, book you in for a longer&nbsp;<a href="https://www.uts.edu.au/current-students/support/helps/assignment-writing-assistance/one-one-consultation-referral" style="font-weight: bold; color: rgb(0, 153, 204); text-decoration: none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-tap-highlight-color: rgb(0, 153, 204);">one-to-one consultation&nbsp;</a>closer to the due date for when you have your draft ready.</p>
        </li>
    </ul>
    <h2> Individual assistance by referral</h2>
    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> After you have attended a&nbsp;<a href="https://www.uts.edu.au/current-students/support/helps/assignment-writing-assistance" style="font-weight: bold; color: rgb(0, 153, 204); text-decoration: none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-tap-highlight-color: rgb(0, 153, 204);">drop-in advice&nbsp;</a>session; if a longer consultation is required you may be able to book in for a 40-minute one-to-one consultation.</p>
    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> Having a one-to-one consultation is an opportunity for an in-depth discussion in relation to your specific needs on an assessment.</p>
    <p style="margin: 0px 0px 1.3em; padding: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; color: rgb(37, 43, 43);"> A 40-minute one-to-one consultation may involve:</p>
    <ul style="margin: 0px 0px 15px 30px; padding-right: 0px; padding-left: 0px; border: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-stretch: inherit; line-height: 20px; vertical-align: baseline; list-style-position: outside; color: rgb(37, 43, 43);">
        <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;"> discussing your draft to ensure that you have addressed the assessment criteria</li>
        <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;"> addressing a number of grammar or referencing issues that require assistance</li>
        <li style="margin: 0px 0px 10px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-align: left;"> preparing for an oral presentation.</li>
    </ul>
    <h2> Daily workshops</h2>
    <ul>
        <li> <a _fcksavedurl="#study_reading" href="http://www.uts.edu.au/current-students/support/helps/daily-workshops/study-reading-skills-workshops" target="_blank">Study and reading skills</a></li>
        <li> <a _fcksavedurl="#writing" href="http://www.uts.edu.au/current-students/support/helps/daily-workshops/writing-skills-workshops" target="_blank">Writing skills</a></li>
        <li> <a _fcksavedurl="#presentation_speaking" href="http://www.uts.edu.au/current-students/support/helps/daily-workshops/presentation-speaking-skills" target="_blank">Presentation and speaking skills</a></li>
    </ul>
    <p> You will need to register for these workshops as places are limited. To <em><strong>register</strong></em>, click on the <strong>workshop registration tab </strong>and follow the instructions. If you wish your cancel your registration, please do so online or contact us via email. Failing to turn up for your registered workshops are not fair to those on the waiting lists. Repeat offenders may be barred from attending workshops for the rest of the semester.</p>
    <h3>&nbsp; </h3>
    <div> </div>

    <!-- Footer -->
    <div id="footer-wrapper">
        <div class="footer-navigation"> <a href="index.cfm?scope=profile">My Information</a> <a href="index.cfm?scope=newsession">My bookings</a> <a href="index.cfm?scope=workshop">Workshop registration</a> <a href="index.cfm?scope=Program" class="CurrentScope">Programs</a> <a href="index.cfm?scope=help">FAQ</a> <a href="index.cfm?scope=logout">Exit</a> </div>
        <div id="footer-nav"></div>
        <div id="global-footer">
            <div id="footer-img">
                <a href="http://www.uts.edu.au/"> <img src="https://web-common.uts.edu.au/images/uts_logo_footer.gif" alt="UTS homepage" width="130" height="29" /></a> <br />
                <a href="http://www.atn.edu.au">
                    UTS is a member of the<br />
                    Australian Technology Network of Universities
                </a>
            </div>
            <div id="footer-text">
                <div class="primary-links"> <a href="http://email.itd.uts.edu.au/webapps/directory/byname/">Staff directory</a> <img src="https://web-common.uts.edu.au/images/separator.gif" alt="" width="4" height="6" /> <a href="http://www.uts.edu.au/about/mapsdirections/">Campus maps</a> <img src="https://web-common.uts.edu.au/images/separator.gif" alt="" width="4" height="6" /> <a href="http://www.newsroom.uts.edu.au/">Newsroom</a> <img src="https://web-common.uts.edu.au/images/separator.gif" alt="" width="4" height="6" /> <a href="http://www.events.uts.edu.au/web/">What's on</a> </div>
                &copy; Copyright UTS - CRICOS Provider No: 00099F - 27 November 2008 10:34 AM<br />
                The page is authorised by Director, SSU -
                Send comments to <a href="mailto:sang-eun.oh@uts.edu.au">operations manager</a><br />
                <a href="http://www.uts.edu.au/disclaimer.html">Disclaimer</a> | <a href="http://www.uts.edu.au/privacy.html">Privacy</a> | <a href="http://www.uts.edu.au/copyright.html">Copyright</a> | <a href="http://www.uts.edu.au/accessibility.html">Accessibility</a> | <a href="http://www.gsu.uts.edu.au/policies/webpolicy.html">Web policy</a> | <a href="http://www.uts.edu.au/">UTS homepage</a>
            </div>
        </div>
    </div>
</div>