@{
    ViewBag.Title = "Search";
}
<h2>Search</h2>
<!-- // todo: studentid -->
<script>
    api_ajax("api/workshop/booking", "/search?StudentId=@User.Identity.Name.Substring(0,8)&active=true&PageSize=1000")
</script>
<div class="f_loading"></div>
<div class="row">

    <div class="col-md-12">
        <form action="#" method="get">
            <div class="input-group">
                <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </form>
        <table class="table table-list-search">
            <thead>
                <tr>
                    @*<th>BookingId</th>
                        <th>workshopID</th>
                        <th>studentID</th>>*@
                    <th>topic</th>
                    @*<th>description</th>*@
                    @*<th>targetingGroup</th>*@
                    @*<th>campusID</th>*@
                    <th>starting</th>
                    <th>ending</th>
                    @*<th>maximum</th>
                        <th>cutoff</th>
                        <th>canceled</th>
                        <th>attended</th>
                        <th>WorkShopSetID</th>
                        <th>type</th>
                        <th>reminder_num</th>
                        <th>reminder_sent</th>*@
                    @*<th>WorkshopArchived</th>
                        <th>BookingArchived</th>*@
                </tr>
            </thead>
            <tbody data-bind="foreach: ko_array">
                <tr>
                    @*<td data-bind="text: BookingId"></td>
                        <td data-bind="text: workshopID"></td>
                        <td data-bind="text: studentID"></td>*@
                    <td data-bind="text: topic"></td>
                    @*<td data-bind="text: description"></td>*@
                    @*<td data-bind="text: targetingGroup"></td>*@
                    @*<td data-bind="text: campusID"></td>*@
                    <td data-bind="text: starting"></td>
                    <td data-bind="text: ending"></td>
                    @*<td data-bind="text: maximum"></td>
                        <td data-bind="text: cutoff"></td>
                        <td data-bind="text: canceled"></td>
                        <td data-bind="text: attended"></td>
                        <td data-bind="text: WorkShopSetID"></td>
                        <td data-bind="text: type"></td>
                        <td data-bind="text: reminder_num"></td>
                        <td data-bind="text: reminder_sent"></td>*@
                    @*<td data-bind="text: WorkshopArchived"></td>
                        <td data-bind="text: BookingArchived"></td>*@
                </tr>
            </tbody>
        </table>

    </div>
</div>

@Html.ActionLink("Booking a Workshop", "Workshop", null, new { @class = "btn btn-primary sizeFull btn-lg" })
@Html.ActionLink("Go to 'My Waiting List'", "Index", "Waitings", null, new { @class = "btn btn-info sizeFull btn-lg mtl" })
<div class="modal fade" id="NewsessionModal" tabindex="-1" role="dialog" aria-labelledby="NewsessionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modal-topic json-topic"></h4>
            </div>
            <div class="modal-body">
                <!-- //todo: if td = null then tr = none -->
                <table class="table table-bordered table-condensed table-striped text-capitalize">
                    <tr class="none"><th>BookingId:</th><td class="json-BookingId"></td></tr>
                    <tr class="none"><th>workshopID:</th><td class="json-workshopID"></td></tr>
                    <tr class="none"><th>studentID:</th><td class="json-studentID"></td></tr>
                    <tr class="none"><th>topic:</th><td class="json-topic"></td></tr>
                    <tr><th>description:</th><td class="json-description"></td></tr>
                    <tr><th>targetingGroup:</th><td class="json-targetingGroup"></td></tr>
                    <tr><th>campusID:</th><td class="json-campusID"></td></tr>
                    <tr><th>starting:</th><td class="json-starting"></td></tr>
                    <tr><th>ending:</th><td class="json-ending"></td></tr>
                    <tr class="none"><th>maximum:</th><td class="json-maximum"></td></tr>
                    <tr class="none"><th>cutoff:</th><td class="json-cutoff"></td></tr>
                    <tr class="none"><th>canceled:</th><td class="json-canceled"></td></tr>
                    <tr class="none"><th>attended:</th><td class="json-attended"></td></tr>
                    <tr class="none"><th>WorkShopSetID:</th><td class="json-WorkShopSetID"></td></tr>
                    <tr class="none"><th>type:</th><td class="json-type"></td></tr>
                    <tr class="none"><th>reminder_num:</th><td class="json-reminder_num"></td></tr>
                    <tr class="none"><th>reminder_sent:</th><td class="json-reminder_sent"></td></tr>
                    <tr class="none"><th>WorkshopArchived:</th><td class="json-WorkshopArchived"></td></tr>
                    <tr><th>BookingArchived:</th><td class="json-BookingArchived"></td></tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- //todo: alert booking success -->
                <!-- url: studentID, workshopID -->
                @Html.ActionLink("Reminder", "Create", "Reminders", new { },
                new { @class = "btn btn-info", id = "f_reminderCreate" })
                @Html.ActionLink("Attendance", "Create", "Attendances", new { },
                         new { @class = "btn btn-warning", id = "f_attendanceCreate" })
                <a id="WorkshopBookingCancel" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#NewsessionModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var bookingID = button.data('bookingid')
        var workshopID = button.data('workshopid')
        var studentID = button.data('studentid')
        var topic = button.data('topic')
        var description = button.data('description')
        var targetingGroup = button.data('targetingGroup')
        var campusID = button.data('campusID')
        var starting = button.data('starting')
        var ending = button.data('ending')
        var maximum = button.data('maximum')
        var cutoff = button.data('cutoff')
        var canceled = button.data('canceled')
        var attended = button.data('attended')
        var WorkShopSetID = button.data('WorkShopSetID')
        var type = button.data('type')
        var reminder_num = button.data('reminder_num')
        var reminder_sent = button.data('reminder_sent')
        var WorkshopArchived = button.data('WorkshopArchived')
        var BookingArchived = button.data('BookingArchived')
        var modal = $(this)
        modal.find('.json-BookingId').text(bookingID)
        modal.find('.json-workshopID').text(workshopID)
        modal.find('.json-studentID').text(studentID)
        modal.find('.json-topic').text(topic)
        modal.find('.json-description').text(description)
        modal.find('.json-targetingGroup').text(targetingGroup)
        modal.find('.json-campusID').text(campusID)
        modal.find('.json-starting').text(starting)
        modal.find('.json-ending').text(ending)
        modal.find('.json-maximum').text(maximum)
        modal.find('.json-cutoff').text(cutoff)
        modal.find('.json-canceled').text(canceled)
        modal.find('.json-attended').text(attended)
        modal.find('.json-WorkShopSetID').text(WorkShopSetID)
        modal.find('.json-type').text(type)
        modal.find('.json-reminder_num').text(reminder_num)
        modal.find('.json-reminder_sent').text(reminder_sent)
        modal.find('.json-WorkshopArchived').text(WorkshopArchived)
        modal.find('.json-BookingArchived').text(BookingArchived)
        f_reminderCreateHref = $("#f_reminderCreate").attr("href");
        $("#f_reminderCreate").attr("href", f_reminderCreateHref + "?workshopid=" + workshopID + "&bookingid=" + bookingID + "&workshopname=" + topic);
        f_attendanceCreateHref = $("#f_attendanceCreate").attr("href");
        $("#f_attendanceCreate").attr("href", f_attendanceCreateHref + "?workshopid=" + workshopID + "&bookingid=" + bookingID + "&workshopname=" + topic);
        $("#WorkshopBookingCancel").attr("href", "javascript:api_WorkshopBookingCancel(" + workshopID + "," + studentID + "," + studentID + ")")
    })
</script>

<script>

    $(document).ready(function () {
        var activeSystemClass = $('.list-group-item.active');

        //something is entered in search form
        $('#system-search').keyup(function () {
            var that = this;
            // affect all table rows on in systems table
            var tableBody = $('.table-list-search tbody');
            var tableRowsClass = $('.table-list-search tbody tr');
            $('.search-sf').remove();
            tableRowsClass.each(function (i, val) {

                //Lower text for case insensitive
                var rowText = $(val).text().toLowerCase();
                var inputText = $(that).val().toLowerCase();
                if (inputText != '') {
                    $('.search-query-sf').remove();
                    tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                        + $(that).val()
                        + '"</strong></td></tr>');
                }
                else {
                    $('.search-query-sf').remove();
                }

                if (rowText.indexOf(inputText) == -1) {
                    //hide rows
                    tableRowsClass.eq(i).hide();

                }
                else {
                    $('.search-sf').remove();
                    tableRowsClass.eq(i).show();
                }
            });
            //all tr elements are hidden
            if (tableRowsClass.children(':visible').length == 0) {
                tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
            }
        });
    });
</script>

