@{
    ViewBag.Title = "Search";
}
<h2>Search Booking History</h2>
<!-- // todo: studentid -->

<script>
    api_ajaxBookhistory("api/workshop/booking", "/search?StudentId=@User.Identity.Name.Substring(0,8)&PageSize=1000")
</script>
<div class="alert-danger none_" id="api_errorMessage"></div>
<div class="f_loading"></div>
<div class="row">

    <div class="col-md-12">
        <form action="#" method="get">
            <div class="input-group">
                <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </form>
        <table class="table table-list-search">
            <thead>
                <tr>
                    <th>topic</th>
                    <th>starting</th>
                    <th>ending</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: ko_array">
                <tr>
                    <td><a href="javascript:void(0)" data-toggle="modal" data-target="#NewsessionModal"
           data-bind="text: topic, attr: {
            'data-studentId': '@User.Identity.Name.Substring(0,8)',
            'data-BookingId': BookingId,
            'data-workshopID': workshopID,
            'data-studentID': studentID,
            'data-topic': topic,
            'data-description': description,
            'data-targetingGroup': targetingGroup,
            'data-campusID': campusID,
            'data-starting': starting,
            'data-ending': ending,
            'data-maximum': maximum,
            'data-cutoff': cutoff,
            'data-canceled': canceled,
            'data-attended': attended,
            'data-WorkShopSetID': WorkShopSetID,
            'data-type': type,
            'data-reminder_num': reminder_num,
            'data-reminder_sent': reminder_sent,
            'data-WorkshopArchived': WorkshopArchived,
            'data-BookingArchived': BookingArchived
        }"></a></td>
                    <td data-bind="text: starting"></td>
                    <td data-bind="text: ending"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@Html.ActionLink("Back to My Booking", "Newsession", null, new { @class = "btn btn-primary btn-block" })

@Html.Partial("_BookingHistoryModal")
<script>

    $(document).ready(function () {
        var activeSystemClass = $('.list-group-item.active');

        //something is entered in search form
        $('#system-search').keyup(function () {
            var that = this;
            // affect all table rows on in systems table
            var tableBody = $('.table-list-search tbody');
            var tableRowsClass = $('.table-list-search tbody tr');
            $('.search-sf').remove();
            tableRowsClass.each(function (i, val) {

                //Lower text for case insensitive
                var rowText = $(val).text().toLowerCase();
                var inputText = $(that).val().toLowerCase();
                if (inputText != '') {
                    $('.search-query-sf').remove();
                    tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                        + $(that).val()
                        + '"</strong></td></tr>');
                }
                else {
                    $('.search-query-sf').remove();
                }

                if (rowText.indexOf(inputText) == -1) {
                    //hide rows
                    tableRowsClass.eq(i).hide();

                }
                else {
                    $('.search-sf').remove();
                    tableRowsClass.eq(i).show();
                }
            });
            //all tr elements are hidden
            if (tableRowsClass.children(':visible').length == 0) {
                tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
            }
        });
    });
</script>

