@{
    ViewBag.Title = "WorkshopList";
}

<script>
    api_ajax("api/workshop/search", "?Active=true&WorkshopSetId=@Model&pagesize=1000")
</script>
<h2>Workshop List</h2>
<div class="f_loading"></div>
<!-- //todo: filter repeat list -->
<ul class="list-group f_load" data-bind="foreach: ko_array">
    <li class="list-group-item">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#WorkshopListModal"
           data-bind="text: topic, attr: {
    'data-studentid': '@User.Identity.Name.Substring(0,8)',
    'data-WorkshopId': WorkshopId,
    'data-topic': topic,
    'data-description': description,
    'data-targetingGroup': targetingGroup,
    'data-campus': campus,
    'data-StartDate': StartDate,
    'data-EndDate': EndDate,
    'data-maximum': maximum,
    'data-WorkShopSetID': WorkShopSetID,
    'data-cutoff': cutoff,
    'data-type': type,
    'data-reminder_num': reminder_num,
    'data-reminder_sent': reminder_sent,
    'data-DaysOfWeek': DaysOfWeek,
    'data-BookingCount': BookingCount,
    'data-archived': archived
}" data-taggle="modal"></a>
    </li>
</ul>
@Html.ActionLink("Back", "Workshop", new { }, new { @class="btn btn-primary sizeFull btn-lg"})
@Html.Partial("_WorkshopListModal");

