@{
    ViewBag.Title = "All Workshops";
}
@Model 
<script>
    api_ajax("api/workshop/workshopSets", "/true");
</script>
<h2>@ViewBag.Title</h2>
<!-- //todo:just use class or id "loading" to generate the all loading part * -->
<div class="f_loading"></div>

@*<div class="loading none text_c mal"><button class="btn btn-lg btn-primary m-progress">Button</button></div>*@
<!-- //todo: filter json -->
<ul class="list-group f_load" data-bind="foreach: ko_array">
    <li class="list-group-item">
        <a href="workshopList/{id}" data-bind="text: name, attr:{
    href: 'workshopList/'+id ,
    'data-workshopid': id}"></a>
    </li>
</ul>

@Html.ActionLink("Search Workshop", "SearchWorkshopList", new { }, new { @class = "btn btn-primary sizeFull btn-lg" })